<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send E-MAIL</title>
</head>
<body>
    <form action="process.php" method="POST">
        <p>Name:
            <input name="Name" type="text">
        </p>
        <p>E-mail:
            <input name="email" type="text" id = "email-text">
        </p>
        <p>Message:
            <textarea name="comment" id="comment-email" cols="45" rows="5"></textarea>
        </p>
        <p>Submit
            <input type="submit" name="submit" id = "submit-text" value="Submit">
        </p>
    </form>

</body>
</html> -->